<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Login Authentication Flask</h1>

    <!-- Links to login and register pages -->
    <a href="{{ url_for('login') }}">Click here to login</a><br>
    <a href="{{ url_for('register') }}">Click here to Register</a><br>

    <!-- Form for user to input anime name -->
    <h1>Enter Anime</h1>
    <form method="POST" action="/">
        <input type="text" id="anime_name" name="anime_name" placeholder="Enter anime name">
        <input type="submit" value="Submit">
    </form>
    
    <!-- Display the anime titles and images -->
    {% if anime_list %}
    <h2>Anime Information</h2>
    {% for anime in anime_list %}
    <div style="margin-bottom: 20px;">
        <h3>{{ anime.title }}</h3>
        <img src="{{ anime.image_url }}" alt="{{ anime.title }} Image" style="max-width:300px;">
    </div>
    {% endfor %}
    {% endif %}

</body>
</html>
